save-prefix=""
save-exact=true
loglevel=warn
publish-branch=master
auto-install-peers=false
strict-peer-dependencies=false
link-workspace-packages=true
save-workspace-protocol=false # This prevents the examples to have the `workspace:` prefix

